 * {
    box-sizing: border-box;
 }

 body {
    margin: 0;
 }

 .nav-log img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
 }

 h1 {
    font-family: 'Rubik Storm', cursive;
    font-size: 2.5rem;
    text-align: center;
 }

 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: aliceblue;
 }

 p {
    font-size: 1.2rem;
    text-align: justify;
 }

 [class*="col-"] {
    float: left;
    padding: 10px;
 }

 /* for mobile */
 [class*="col-"] {
    width: 100%;
 }

 /* navbar design starts here */
 .navbar {
    background-color: purple;
    padding: 1% 7%;
    text-align: center;
 }

 .navbar-menu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
 }

 .navbar-menu a {
    background-color: #610561;
    border-radius: 10%;
    margin: 7px 0px;
    padding: 10px;
    transition: all .5s;
 }

 .navbar-menu a:hover {
    background-color: rgb(128, 128, 128);
    transform: scale(.95);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
 }

 .navbar::after {
    content: '';
    display: table;
    clear: both;
 }

 .nav-heading h1 {
    color: wheat;
    margin: 0;
    padding-top: 10px;
 }

 /* navbar design ends here */

 /* protfile desing starts from here */
 .profile {
    padding: 130px 10px;
    position: relative;
    text-align: center;
 }

 .profile .top-weather-icon {
    position: absolute;
    width: 150px;
    right: 60px;
    top: 20px;
    bottom: 20px;
    transition: all 2s;
 }

 .profile .top-weather-icon:hover {
    transform: rotate(360deg);
 }

 .profile-desc h2 {
    font-family: 'Rubik Storm', cursive;
    font-size: 3rem;
 }

 .profile-desc p {
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
 }

 .profile .button-weather-icon {
    position: absolute;
    width: 150px;
    left: 60px;

    bottom: 10px;
    transition: all 2s;
 }

 .profile .button-weather-icon:hover {
    transform: rotate(360deg);
 }

 .profile::after {
    content: '';
    display: table;
    clear: both;
 }

 /* protfile desing end from here */